*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --purple-dark: #170312;
    --purple-medium: #33032d;
    --purple-light: #5f155f;
    --gray-light: #eaeaea;
    --white: #f4fffd;
}

body{
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*HEADER*/

.contenido-header{
    width: 100%;
    height: 80vh;
    background-image: url(../img/banner.png);
    background-position: center;
    background-size: cover; /*una sola imagen*/
    background-attachment: fixed; /*mantiene la imagen fija*/
}

.contenido-header .fondo{
    width: 0;
    height: 80vh;
    max-width: 100%;
    background-image: url(../img/bg-top.png);
}

.contenido-header .texto{
    width: calc(100vw - 20px);
    height: 100vh;
    font-size: 90px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    color: purple;
    mix-blend-mode: multiply;
}

/*navbar*/

.menu {
	background-color: var(--purple-medium);
	width: 100%;
	position: sticky;
	top: 0;
	padding: 5px;
	z-index: 999;
	text-align: center;
	display: flex;
	justify-content: center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-style: italic;
	margin-bottom: 60px;
}

.menu a {
	display: inline-block;
	padding: 10px 30px;
	font-size: 26px;
	background-color: var(--purple-medium);
	margin: 0 10px;
	transition: .5s ease all;
	color: var(--gray-light);
	text-decoration: none;
}

.menu a:hover {
	transform: translateY(18px);
	background-color: var(--purple-light);
	border-radius: 12px;
}
